<h1>Recipe:</h1>
<div class="container">
  <div class='recipe-box'>
    <h3><%= @recipe.title %></h3>
    <label><%= "By #{@recipe.chef.name}" if @recipe.fields.key?(:chef) %></label>

    <img class='recipe-image' src="<%= @recipe.photo.url %>" />
    <p><%= markdown(@recipe.description) %></p>
    <em><%= "Tags: #{@recipe.tags.collect(&:name).join(', ')}" if @recipe.fields.key?(:tags) %></em>
  </div>
</div>
<button onclick="goBack()">Back to main</button>

<script>
  function goBack() {
    window.history.back();
  }
</script>