<div class="container">
  <% if @recipe.nil? %>
    <div class='recipe-box'>
      <p>Sorry, recipe not found ☹️​</p>
      <p>Let's try other!​</p>
    </div>
  <% else %>
  <div class='recipe-box'>
    <h3><%= @recipe.title %></h3>
    <label><%= "By #{@recipe.chef.name}" if @recipe.fields.key?(:chef) %></label>

    <img class='recipe-image' src="<%= @recipe.photo.url %>" />
    <p><%= markdown(@recipe.description) %></p>
    <em><%= "Tags: #{@recipe.tags.collect(&:name).join(', ')}" if @recipe.fields.key?(:tags) %></em>
  </div>
  <% end %>
</div>
<%= link_to "Back to Start", root_path, class: "back-button" %>
